*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@media (width >= 600px) and (width <= 2200px) {
    body{
        background-image: url("img/bg2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 70%;
        height: 100vh;
    }
    header{
        display: flex;
        flex-direction: column;
        height: 300PX;
        width: auto;
        margin: 20px;
        padding: 30px;
    }

    .imageWeather{
        display: flex;
        justify-content: center;
    }

    img{
        height: 180px;
        width: 180px;
        filter: drop-shadow(5px 5px 5px black);
    }
    h1{
        transform: translate(0px, 72.5117px); 
        position: relative; top: -14px; left: 2px;
        font-family: "Bungee", sans-serif;
        font-size: 50px;
        filter: drop-shadow(5px 5px 5px black);
        color: rgb(210, 219, 228);
        text-align: center;
    }
    div.search{
        margin: 30px;
        height: 100px;
        display: flex;
        justify-content: center;
        
    }
    
    input.textoinput{
        transform: translate(0px, 72.5117px); 
        position: relative; top: -164px; left: 2px;
        width: 280px;
        height: 40px;  
        margin: 5px;
        border-radius: 5px;
        text-align: center;
        font-size: medium;
        box-shadow: 3px 3px 3px rgba(173, 172, 172, 0.212);
        outline: none;
    }
}
@media (width >= 250px) and (width <= 599px) {
    body{
        background-image: url("img/bg4.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 70%;
        height: 100vh;
    }

    img{
        height: 180px;
        width: 180px;
        filter: drop-shadow(5px 5px 5px black);
    }

    header{
        display: flex;
        flex-direction: column;
        height: 300PX;
        width: auto;
        margin: 10px;
        padding: 10px;
    }
    
    .imageWeather{
        display: flex;
        justify-content: center;
    }

    input.textoinput{
        transform: translate(0px, 72.5117px); 
        position: relative; top: -174px; left: 2px;
        width: 140px;
        height: 35px;  
        margin: 5px;
        border-radius: 10px;
        text-align: center;
        font-size: medium;
        box-shadow: 3px 3px 3px rgb(176, 175, 175);
        border: none;
    }
    div.search{
        padding: 20px;
        display: flex;
        justify-content: center;
        
    }
    h1{
        margin: 10px;
        padding: 20px;
        transform: translate(0px, 72.5117px); 
        position: relative; top: -134px; left: 2px;
        font-family: "Bungee", sans-serif;
        font-size: 30px;
        color: rgb(6, 44, 82);
        text-align: center;
    }
    menu{
        margin: 10px;
        height: 55%;
        width: 95%;
        border-radius: 30px;
        background-color: rgba(239, 239, 241, 0.335);
    }

}